{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S.W.A.: Snippets with attitude!</title>
    <link rel="stylesheet" href="{% static 'css/swa.css' %}" />
    {% block css %}
    {% endblock %}
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
      $(document).foundation();
    </script>
    {% block js %}
    {% endblock %}
  </body>
</html>
